# tushare

Tushare是免费的数据平台。有两个版本：[tushare.org](http://tushare.org/)(旧版)和[tushare.pro](https://tushare.pro/)(新版)。旧版是开源的数据收集软件，新版数据存储在自己的服务器上。

由于后期tushare以新版为主，所以dfdata中的数据源tushare指tushare.pro(新版)。

## 安装

In [11]:
!pip install tushare

In [4]:
import tushare as ts
ts.set_token('your_tushare_token')   #设置tushare的token，只需要设置一次
pro = ts.pro_api()

## 行情数据

In [2]:
df = pro.fut_daily(trade_date='20181113', exchange='DCE')
df

,ts_code,trade_date,pre_close,pre_settle,open,high,low,close,settle,change1,change2,vol,amount,oi,oi_chg
0,A.DCE,20181113,3504.0,3493.0,3502.0,3509.0,3452.0,3471.0,3476.0,-22.0,-17.0,121434.0,422163.75,227600.0,NaN
1,A1811.DCE,20181113,3460.0,3448.0,NaN,NaN,NaN,3430.0,3430.0,-18.0,-18.0,0.0,0.00,28.0,-20.0
2,A1901.DCE,20181113,3504.0,3493.0,3502.0,3509.0,3452.0,3471.0,3476.0,-22.0,-17.0,121434.0,422163.75,227600.0,30.0
3,A1903.DCE,20181113,3498.0,3498.0,3578.0,3579.0,3529.0,3529.0,3554.0,31.0,56.0,28.0,99.52,56.0,2.0
4,A1905.DCE,20181113,3715.0,3701.0,3718.0,3732.0,3680.0,3695.0,3702.0,-6.0,1.0,17726.0,65622.09,49622.0,-1236.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,Y1905.DCE,20181113,5554.0,5526.0,5550.0,5558.0,5514.0,5536.0,5538.0,10.0,12.0,64596.0,357761.94,419952.0,4292.0
196,Y1907.DCE,20181113,5586.0,5614.0,NaN,NaN,NaN,5614.0,5614.0,0.0,0.0,0.0,0.00,18.0,0.0
197,Y1908.DCE,20181113,5686.0,5686.0,NaN,NaN,NaN,5698.0,5698.0,12.0,12.0,0.0,0.00,2.0,0.0
198,Y1909.DCE,20181113,5644.0,5624.0,5632.0,5654.0,5620.0,5638.0,5636.0,14.0,12.0,1538.0,8669.45,31722.0,528.0
199,YL.DCE,20181113,5446.0,5446.0,NaN,NaN,NaN,5446.0,5446.0,0.0,0.0,0.0,0.00,0.0,NaN

## 使用dfdata保存数据

参考上面，安装好tushare，并设置好tushare pro的token。

In [ ]:
import dfdata as da

# 保存tushare期货合约表
da.save_futures_contract('tushare')